# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Build logs
build_map/src/_build_log.txt
build_map/src/_build_err.txt


*kopie*
* - kopie/
* - kopie.*/

# OS
.DS_Store
Thumbs.db
desktop.ini
